Source: vx-migasfree-client
Section: utils
Priority: extra
Maintainer: Alberto Gacías <alberto@migasfree.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/vitalinux/vx-migasfree-client

Package: vx-migasfree-client
Architecture: all
Provides: virtual-migasfree-client
Conflicts: virtual-migasfree-client
Replaces: virtual-migasfree-client
Pre-Depends: migasfree-client, vx-utils,
Depends: ${misc:Depends}, ${python:Depends}
Description: Nodo Vitalinux-base (VX@vitalinux.unizar.es)
 Vitalinux packages distribution system migasfree based.
